*{
    padding: 0%;
    margin: 0%;
}

/*NAV*/

#mga{
    width: 15%;
    height: 15%;
    margin: 0%;
    padding: 0%;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
   color: #A53F40;
}
.navbar-light .navbar-nav .nav-link:hover{
   text-decoration: underline;
   color: #CC6667;
}
.navbar-light .navbar-nav .nav-link{
   color: #A53F40;
}
.nav-item a{
    color: #A53F40;
    margin-right: 0px;
    font-family: 'Courgette', cursive;
    font-style: bold;
    font-size: 20px;
    padding: 10px;
    width: 150px;
}
.navbar-light .navbar-toggler {
   color: #A53F40;
   border-color: #A53F40;
}
.navbar-toggle-icon {
   color: #A53F40;
}
/*MAIN*/

h1{
    font-family: 'Courgette', cursive;
    font-size: 50px;
    color: #CC6667;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}
h2{
    font-family: 'Courgette', cursive;
    font-size: 39px;
    color: #CC6667;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
h3{
    font-family: 'Courgette', cursive;
    font-size: 28px;
    color: #CC6667;
    text-align: left;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 50px;
}
h4{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    color: #CC6667;
    text-align: left;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 400px;
}
.texto{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color:#A53F40;
    text-align: left;
}
/*INVESTIGACION*/
.ex{
    color: #A53F40;
}
.bo{
    color: #A53F40;
}
#intro{
    background-color: #D2797A;
    margin-top: 30px;
}
#pc{
    width: 50%;
}
.textintro{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: left;
}
#h4{
    font-family: 'Courgette', cursive;
    font-size: 22px;
    color: #CC6667;
    text-align: left;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 400px;
}
#conver{
    width: 35%;
    margin-top: 50px;
    margin-left: 50px;
}
.card{
    border: none;
}
/*PRODUCTO*/
#etapas1{
    margin-top: 60px;
}
/*CUANTITATIVAS*/
#expedia{
    width: 25%;
    margin-top: -20px;
}
.subtext{
    font-size: 28px;
    color: #A53F40;
    font-family: 'Raleway', sans-serif;
}
#booking{
    width: 25%;
    margin-top: -20px;
}
.cuadro{
    border: 2px solid #A53F40;
    margin-top: 50px;
    padding: 20px;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color:#A53F40;
    text-align: left;
}
#hotel2{
    width: 90%;
}
#cuadro3{
    border: 2px solid #A53F40;
    width: 1000px;
    margin-top: 50px;
    margin-left: 250px;
}
#porcentaje{
    margin-bottom: 0%;
    margin-top: 20px;
}
#cuadro2{
    background-color: rgba(204, 102, 103, 0.67);
    border-radius: 20px;
    width: 1000px;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 0px;
}
#row{
    margin: 0px;
}
#cuadrotitulo{
    font-size: 28px;
    text-align: left;
    color: #A53F40;
    margin-top: 20px;
    margin-bottom: 20px;
}
#textocuadro{
    font-family: 'Courgette', cursive;
    font-size: 18px;
    color:white;
    text-align: left;
    padding-left: 20px;
}
/*ERRORES*/
#etapas2{
    margin-top: 50px;
    width: 90%;
}
.subtext2{
    font-size: 22px;
    color: #A53F40;
    font-family: 'Raleway', sans-serif;
}
#bookingerror{
    width: 80%;
}
/*CUALITATIVAS*/
#sus{
    margin-top: 50px;
}
#referencia{
    color: grey;
}
.subreferencia{
    font-size: 28px;
    color: grey;
    font-family: 'Raleway', sans-serif;
    margin-left: 150px;
}
.subreferencia2{
    margin-left: 150px;
    margin-top: 20px;
    font-size: 28px;
    color: #A53F40;
    font-family: 'Raleway', sans-serif;
}
#booking2{
    width: 25%;
    margin-top: -20px;
    margin-left: 120px;
}
#expedia2{
    width: 25%;
    margin-top: -20px;
    margin-left: 120px;
}
#nps{
    margin-top: 50px;
}
#cuadro4{
    border: 2px solid #A53F40;
    width: 1000px;
    margin-top: 50px;
    margin-left: 190px;
}
#textocuadro2{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    color:white;
    text-align: left;
    padding:30px;
}
#cuadro5{
    background-color: rgba(204, 102, 103, 0.67);
    border-radius: 20px;
    width: 1000px;
    margin-top: 50px;
    margin-left: 200px;
}
/*CONCLUCION*/
#confinal{
    margin-left: 90px;
}
#atras,h3,img{
    display: inline-block;
    text-align: left;
}
#atras a{
    text-decoration: none;
    color: #A53F40;
}
#atras a:hover{
    text-decoration: underline;
}
#atras img{
    width: 5%;
    margin-right: 10px;
    margin-bottom: 10px;
}
#despues,h3,img{
    display: inline-block;
    text-align: right;
    text-decoration: none;
}
#despues a{
    text-decoration: none;
    color: #A53F40;
}
#despues a:hover{
    text-decoration: underline;
}
#despues img{
    width: 5%;
    margin-right: 10px;
    margin-bottom: 10px;
}
/*FOOTER*/
#contacto{
    margin-top: 60px;
    height: 150px;
}
#redes a{
    width: 9%;
    display: inline-block;
    padding-top: 20px;
    padding-left: 60px;
}
/*RICO APP*/
/*HEADER*/
#rico0{
    width: 20%;
    display: inline-block;
    padding-top: 20px;
    padding-right: 20px;
}
/*PRODUCTO*/
#mining{
    margin-bottom: 50px;
}
#conversacion{
    margin-top: 30px;
    border: solid 1px #A53F40;
}
#palabras{
    margin-top: 40px;
}
#trip{
    width: 40%;
}
#fork{
    width: 40%;
}
#yelp{
    width: 40%;
}
.optativo{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color:#A53F40;
}
#home0{
    margin-top: 50px;
    margin-bottom: 30px;
}
#home{
    width: 70%;
}
#home2{
    width: 67%;
    margin-top: -10px;
}
#forkrestro{
    width: 50%;
}
#filtro{
    width: 70%;
}
#filtro2{
    width: 65%;
    margin-top: 5px;
    margin-left: 30px; 
    border: solid 1px black;
}
#filtro3{
    width: 69%;
    border: solid 1px black;
}
.optativo2{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color:#A53F40;
    margin-right: 10px;
}
.optativo2b{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color:#A53F40;
    margin-left: 120px;
    margin-top: 10px;
}
.optativo2c{
    font-family:'Raleway', sans-serif;
    font-size: 22px;
    color:#A53F40;
    margin-left: 120px;
    margin-top: 10px;
}
#comentarios{
    width: 70%;
}
#comentarios2{
    width: 68%;
    margin-top: 8px;
    margin-left: 30px; 
}
#comentarios3{
    width: 69%;
}
.optativo3{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color:#A53F40;
    margin-right: 10px;
    margin-top: 10px;
}
.optativo3b{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color:#A53F40;
    margin-left: 120px;
}
.optativo3c{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color:#A53F40;
    margin-left: 120px;
    margin-top: 5px;
}
/*USER PERSONA*/
.nombre{
    color: #A53F40;
}
#persona{
    height: 500px;
    margin-left: -300px;
    margin-top: -30px;
}
#persona1{
    width: 45%;
}
.opciones{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    color: #CC6667;
    text-align: left;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
}
#mapa{
    width: 60%;
    border: solid 1px black;
    margin-bottom: 60px;
}
/*VOZ Y TONO*/
.voz{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color:#A53F40;
    text-align: justify;
    margin-left: 30px;
}
/*MOOD MAP*/
.titulomap{
    font-family: 'Courgette', cursive;
    font-size: 28px;
    color: grey;
    text-align: left;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 50px;
    text-decoration: underline;
}
#mood{
    border: solid 1px #A53F40;
    width: 500px;
    text-align: center;
    margin-left: 500px;
}
.textomood{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color:#A53F40;
    text-align: center;
    margin-left: 30px;
}
.textomood2{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color:white;
    text-align: center;
    margin-left: 30px;
}
#titulomood{
    font-size: 28px;
    text-align: left;
    color: #A53F40;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    text-decoration: underline;
}
#cuadromood{
    background-color: rgba(204, 102, 103, 0.67);
    border-radius: 20px;
    width: 350px;
    margin-top: 50px;
    margin-left: 0px;
}
/*FLUJOS*/
#descargar2{
    margin-top: 50px;
}
#descargar2 a{
    background-color:#A53F40;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    border:2px solid #A53F40;
    border-radius: 30px;
    margin-left: 0px;
    width: 350px;
}
#flujo1{
    width: 50%;
}
#objetivoflujo{
    margin-left: 0px;
    width: 350px;
}
/*CONCLUSION*/
#conclusion2{
    background-color: rgba(210, 121, 122, 0.37);
}
#conclutitulo{
    margin-top: 20px;
}

/*RESPONSIVE*/

/*BOOKING*/
@media (max-width: 576px){
    *{
        padding: 0%;
        margin: 0%;
        max-width: 576px;
    } 
    #mga{
        width: 25%;
        height: 25%;
        margin: 0%;
        margin-left: 0px;
        padding: 0%;
    }
    h1{
        font-family: 'Courgette', cursive;
        font-size: 50px;
        color: #CC6667;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0px;
    }
    h2{
        font-family: 'Courgette', cursive;
        font-size: 39px;
        color: #CC6667;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 30px;
    }
    h3{
        font-family: 'Courgette', cursive;
        font-size: 28px;
        color: #CC6667;
        text-align: left;
        text-decoration: underline;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    h4{
        font-family: 'Courgette', cursive;
        font-size: 20px;
        color: #CC6667;
        text-align: left;
        text-decoration: underline;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 300px;
    }
    .texto{
        font-size: 18px;
        color:#A53F40;
        text-align: left;
    }
    #dato{
        text-align: center;
    }
    #dato p{
        text-align: center;
    }
    .ups{
        width: 350px;
        font-family: 'Courgette', cursive;
        font-size: 28px;
        color: #CC6667;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: -20px;    
    }
    /*INVESTIGACION*/
    .ex{
        color: #A53F40;
        margin-left: 0px;
        text-align: left;
        font-size: 30px;
        text-decoration: underline;
    }
    .bo{
        color: #A53F40;
        text-align: left;
        margin-left: 0px;
        font-size: 30px;
        text-decoration: underline;
    }
    .grupo{
        text-align: left;
        font-family: 'Courgette', cursive;
        font-size: 28px;
        color: #CC6667;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 300px;
        margin-left: 40px;
    }
    .grupo2{
        text-align: left;
        font-family: 'Courgette', cursive;
        font-size: 28px;
        color: #CC6667;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 300px;
        margin-left: -30px;
    }
    #textb{
        text-align: center;
        margin-left: 50px;
    }
    #intro{
        background-color: #D2797A;
        margin-top: 30px;
    }
    #pc{
        width: 80%;
    }
    .textintro{
        color: white;
        font-size: 18px;
        text-align: left;
    }
    #h3{
        margin-top: 10px;
        margin-left: 10px;
        text-align: left;
        padding-right: 0px;
        width: 300px;
    }
    #h4{
        font-family: 'Courgette', cursive;
        font-size: 22px;
        color: #CC6667;
        text-align: left;
        text-decoration: underline;
        margin-top: 30px;
        margin-bottom: 10px;
        width: 300px;
    }
    #conver{
        width: 0%;
        margin-top: 0px;
        margin-left: 0px;
        width: 0%;
        visibility: hidden;
        height: 20px;
    }
    .card{
        border: none;
    }
    /*PRODUCTO*/
    #etapas1{
        margin-top: 60px;
        width: 90%;
        justify-content: center;
        margin-left: 0px;
    }
    /*CUANTITATIVAS*/
    #expedia{
        width: 15%;
        margin-top: -20px;
        margin-left: 15px;
    }
    .subtext{
        font-size: 28px;
        color: #A53F40;
        text-align: center;
        margin-left: 30px;
    }
    #booking{
        width: 15%;
        margin-top: -20px;
        margin-left: 15px;
    }
    .no{
        visibility: hidden;
        width: 20px;
        height: 0px;
    }
    #no{
        visibility: hidden;
        width: 20px;
        height: 0px;

    }
    .cuadro{
        border: 2px solid #A53F40;
        margin-top: 50px;
        margin-left: 10px;
        padding: 5px;
        justify-content: center;
        font-size: 18px;
        color:#A53F40;
        text-align: left;
        width: 320px;
    }
    #hotel1{
        width: 90%;
        justify-content: center;
        margin-left: 0px;
    }
    #hotel2{
        width: 90%;
        justify-content: center;
        margin-left: 0px;
    }
    #cuadro3{
        border: 2px solid #A53F40;
        width: 350px;
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 2px;
        padding: 0px;
    }
    #porcentaje{
        margin-bottom: 0%;
        margin-top: 20px;
    }
    #cuadro2{
        background-color: rgba(204, 102, 103, 0.67);
        border-radius: 20px;
        width: 500px;
        margin-top: 50px;
        margin-left: 0px;
    }
    #cuadrotitulo{
        font-size: 28px;
        text-align: left;
        color: #A53F40;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 20px;
        width: 350px;
    }
    #textocuadro{
        font-family: 'Courgette', cursive;
        font-size: 18px;
        color:white;
        text-align: left;
        padding-left: 20px;
        margin-left: 5px;
    }
    /*ERRORES*/
    #etapas2{
        margin-top: 50px;
        margin-left: -10px;
        justify-content: center;
        width: 100%;
    }
    .subtext2{
        font-size: 22px;
        color: #A53F40;
        margin-left: -30px;
        text-align: left;
    }
    #bookingerror{
        width: 90%;
        text-align: center;
        margin: 0px;
    }
    /*CUALITATIVAS*/
    #sus{
        margin-top: 50px;
    }
    #referencia{
        color: grey;
        text-align: left;
        width: 500px;
        margin-top: 80px;
        margin-left: 20px;
    }
    .subreferencia{
        font-size: 28px;
        color: grey;
        margin-left: 150px;
        margin-bottom: 80px;
    }
    .subreferencia2{
        margin-left: 158px;
        margin-top: 20px;
        font-size: 28px;
        color: #A53F40;
    }
    #booking2{
        width: 25%;
        margin-top: -20px;
        margin-left: 140px;
    }
    #expedia2{
        width: 25%;
        margin-top: -20px;
        margin-left: 140px;
    }
    #nps{
        margin-top: 50px;
    }
    #cuadro4{
        border: 2px solid #A53F40;
        width: 576px;
        margin-top: 50px;
        margin-left: 0px;
    }
    #textocuadro2{
        font-family: 'Courgette', cursive;
        font-size: 20px;
        color:white;
        text-align: left;
        padding:30px;
    }
    #cuadro5{
        background-color: rgba(204, 102, 103, 0.67);
        border-radius: 20px;
        width: 576px;
        margin-top: 50px;
        margin-left: 0px;
    }
    /*CONCLUCION*/
    #confinal{
        margin-left: 0px;
    }
    #conclusion{
        width: 576px;
    }
    #otravuelta{
        width: 576px;
    }
    #atras,h3,img{
        display: inline-block;
        text-align: left;
        margin: 0px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0%;
    }
    #atras a{
        text-decoration: none;
        color: #A53F40;
        margin: 0px;
        font-size: 19px;
    }
    #atras a:hover{
        text-decoration: underline;
    }
    #atras img{
        width: 10%;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    #despues,h3,img{
        display: inline-block;
        text-align: right;
        text-decoration: none;
        margin: 0px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0%;
    }
    #despues a{
        text-decoration: none;
        color: #A53F40;
        margin: 0px;
        font-size: 19px;
    }
    #despues a:hover{
        text-decoration: underline;
    }
    #despues img{
        width: 10%;
        margin-left: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    /*FOOTER*/
    #contacto{
        margin-top: 60px;
        height: 150px;
        margin-right: 0px;
    }
    #redes{
        max-width: 570px;
    }
    #redes a{
        width: 20%;
        display: inline-block;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 15px;
    }
    /*RICO APP*/
    /*HEADER*/
    #rico0{
        width: 30%;
        display: inline-block;
        padding-top: 20px;
        padding-right: 5px;
    }
    /*PRODUCTO*/
    #mining{
        margin-bottom: 50px;
    }
    #conversacion{
        margin-top: 30px;
        border: solid 1px #A53F40;
    }
    #target{
        width: 115%;
    }
    #palabras{
        margin-top: 40px;
        width: 350px;
    }
    #trip{
        width: 30%;
    }
    #fork{
        width: 30%;
    }
    #yelp{
        width: 30%;
    }
    .optativo{
        font-size: 28px;
        color:#A53F40;
        margin-top: 20px;
    }
    #home0{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    #home{
        width: 45%;
    }
    #home2{
        width: 45%;
        margin-top: -10px;
    }
    #forkrestro{
        width: 40%;
        align-items: center;
        margin-left: 100px;
        margin-bottom: 20px;
    }
    #filtro{
        width: 47%;
    }
    #filtro2{
        width: 45%;
        margin-top: 5px;
        margin-left: 100px; 
        border: solid 1px black;
    }
    #filtro3{
        width: 45%;
        border: solid 1px black;
        margin-left: 100px;
    }
    .optativo2{
        font-size: 22px;
        color:#A53F40;
        margin-right: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    .optativo2b{
        font-size: 22px;
        color:#A53F40;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    .optativo2c{
        font-size: 22px;
        color:#A53F40;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    #comentarios{
        width: 45%;
    }
    #comentarios2{
        width: 45%;
        margin-top: 0px;
        margin-left: 100px; 
    }
    #comentarios3{
        width: 45%;
        margin-left: 100px;
    }
    .optativo3{
        font-size: 22px;
        color:#A53F40;
        margin-right: 0px;
        margin-top: 10px;
    }
    .optativo3b{
        font-size: 22px;
        color:#A53F40;
        margin-left: 0px;
        margin-top: 5px;
        text-align: center;
    }
    .optativo3c{
        font-size: 22px;
        color:#A53F40;
        margin-left: 0px;
        text-align: center;
        margin-top: 5px;
    }
    /*USER PERSONA*/
    .nombre{
        color: #A53F40;
        width: 300px;
    }
    #persona{
        height: 600px;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 200px;
    }
    #persona1{
        width: 42%;
        align-items: center;
        margin-top: 50px;
        margin-left: 100px;
        text-align: center;
    }
    .opciones{
        font-family: 'Courgette', cursive;
        font-size: 20px;
        color: #CC6667;
        text-align: left;
        text-decoration: underline;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 400px;
    }
    #mapa{
        width: 60%;
        border: solid 1px black;
    }
    /*VOZ Y TONO*/
    #vozytono h2{
        margin-top: -60px;
    }
    .voz{
        font-size: 18px;
        color:#A53F40;
        text-align: justify;
        margin-left: 10px;
    }
    /*MOOD MAP*/
    .titulomap{
        font-family: 'Courgette', cursive;
        font-size: 28px;
        color: grey;
        text-align: left;
        text-decoration: underline;
        margin-top: 30px;
        margin-bottom: 50px;
        text-decoration: underline;
    }
    #mood{
        border: solid 1px #A53F40;
        width: 300px;
        text-align: center;
        margin-left: 10px;
    }
    .textomood{
        font-size: 22px;
        color:#A53F40;
        text-align: center;
        margin-left: 30px;
    }
    .textomood2{
        font-size: 22px;
        color:white;
        text-align: center;
        margin-left: 30px;
    }
    #titulomood{
        font-size: 28px;
        text-align: left;
        color: #A53F40;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        text-decoration: underline;
    }
    #cuadromood{
        background-color: rgba(204, 102, 103, 0.67);
        border-radius: 20px;
        width: 440px;
        margin-top: 50px;
        margin-left: 0px;
    }
    /*FLUJOS*/
    #flujo1{
        margin-left: 80px;
    }
    #descargar2{
        margin-top: 50px;
    }
    #descargar2 a{
        width: 400px;
        background-color:#A53F40;
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding: 15px;
        border:2px solid #A53F40;
        border-radius: 30px;
        margin-left: 80px;
    }
    #objetivoflujo{
        margin-left: 0px;
    }
    /*CONCLUSION*/
    #conclusion{
        width: 300px;
        margin-left: 0px;
    }
    #conclusion2{
        background-color: rgba(210, 121, 122, 0.37);
        width: 350px;
    }
    #conclutitulo{
        margin-top: 20px;
    }
}

