*{
    padding: 0%;
    margin: 0%;
}

/*NAV*/

#mga{
    width: 15%;
    height: 15%;
    margin: 0%;
    padding: 0%;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
   color: #A53F40;
}
.navbar-light .navbar-nav .nav-link:hover{
   text-decoration: underline;
   color: #CC6667;
}
.navbar-light .navbar-nav .nav-link{
   color: #A53F40;
}
.nav-item a{
    color: #A53F40;
    margin-right: 0px;
    font-family: 'Courgette', cursive;
    font-style: bold;
    font-size: 20px;
    padding: 10px;
    width: 150px;
}
.navbar-light .navbar-toggler {
   color: #A53F40;
   border-color: #A53F40;
}
.navbar-toggle-icon {
   color: #A53F40;
}
/*MAIN*/

h1{
    font-family: 'Courgette', cursive;
    font-size: 50px;
    color: #CC6667;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
h2{
    font-family: 'Courgette', cursive;
    font-size: 39px;
    color: #CC6667;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
h3{
    font-family: 'Courgette', cursive;
    font-size: 28px;
    color: #CC6667;
    text-align: left;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 50px;
}
h4{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    color: #CC6667;
    text-align: left;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 400px;
}
.texto{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color:#A53F40;
    text-align: left;
}
/*INVESTIGACION*/
#diamante{
    margin-bottom: 50px;
}
#entrevista1{
    border: 2px solid #A53F40;
    justify-content: center;
    width: 50%;
    margin-bottom: 50px;
}
#entrevista{
    width: 50%;
    margin-bottom: 50px;
}
#nuevahipo{
    border: 1px solid #CC6667;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: rgba(210, 121, 122, 0.37);
}
#nueva{
    text-align: left;
    margin-top: 30px;
    font-size: 28px;
    color: #A53F40;
}
#textonueva{
    font-family: 'Courgette', cursive;
    font-size: 22px;
    color:#A53F40;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*ANALISIS*/
.persona{
    width: 55%;
}
#definicionproblema{
    background-color: rgba(204, 102, 103, 0.67);
    border-radius: 20px;
    margin-top: 80px;
}
#definicion{
    font-size: 28px;
    text-align: left;
    color: #A53F40;
    margin-top: 20px;
    margin-bottom: 20px;
}
#textodefinicion{
    font-family: 'Courgette', cursive;
    font-size: 18px;
    color:white;
    text-align: center;
    padding-left: 20px;
}
#persona{
    width: 50%;
}
/*IDEACION*/
#titu{
    margin-bottom: 50px;
}
#descargar{
   margin-left: 1000px; 
   margin-top: 30px;
}
#descargar a{
    background-color: white;
    color: #A53F40;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    border:2px solid #A53F40;
    border-radius: 20px;
    margin-left: 20px;
}
#descargar a:hover{
    background-color: #A53F40;
    color: white;
}
/*PROTOTIPO*/
#baja img{
    width: 20%;
    display: inline-block;
}
#proto1{
    height: 95%;
}
#proto2{
    height: 97%;
}
#proto3{
    height: 96%;
}
#proto4{
    height: 98%;
    visibility: visible;
}
.subtitu{
    margin-top: 80px;
}
#prototipo1{
    width: 45%;
    margin-bottom: 30px;
}
#prototipo3{
    width: 45%;
    margin-bottom: 30px;
}
#prototipo3d{
    width: 35%;
    margin-bottom: 30px;
}
/*PROTOTIPO FINAL*/
#app{
    width: 20%;
    display: inline-block;
    padding-top: 20px;
}
#descargar2{
    margin-top: 50px;
}
#descargar2 a{
    background-color:#A53F40;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    border:2px solid #A53F40;
    border-radius: 30px;
    margin-left: 20px;
}
/*CONCLUSION*/
#conclusion0{
    background-color: rgba(210, 121, 122, 0.37);
    margin-top: 80px;
}
#atras,h3,img{
    display: inline-block;
    text-align: left;
}
#atras a{
    text-decoration: none;
    color: #A53F40;
}
#atras a:hover{
    text-decoration: underline;
}
#atras img{
    width: 5%;
    margin-right: 10px;
    margin-bottom: 10px;
}
#despues,h3,img{
    display: inline-block;
    text-align: right;
    text-decoration: none;
}
.flecha a{
    text-decoration: none;
    color: #A53F40;
}
.flecha a:hover{
    text-decoration: underline;
}
#despues a{
    text-decoration: none;
    color: #A53F40;
}
#despues a:hover{
    text-decoration: underline;
}
#despues img{
    width: 5%;
    margin-right: 10px;
    margin-bottom: 10px;
}
/*FOOTER*/
#contacto{
    margin-top: 60px;
    height: 150px;
}
#redes a{
    width: 9%;
    display: inline-block;
    padding-top: 20px;
    padding-left: 60px;
}

/*ATRAPALO*/
#pc{
    width: 50%;
    margin-top: 0%;
}
/*INVESTIGACION*/
.card{
    border: white;

}
#h4{
    font-family: 'Courgette', cursive;
    font-size: 22px;
    color: #CC6667;
    text-align: left;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 400px;
}
#conver{
    width: 35%;
    margin-top: 50px;
    margin-left: 50px;
}
/*PRODUCTO*/
#pasos{
    width: 80%;
    margin-bottom: 30px;
    margin-top: 30px;
}
/*LISTA DE PROBLEMAS*/
#lista3{
    margin-left: 500px;
    margin-top: -750px;
    width: 100%;
}
#num{
    width: 40%;
    margin-top: 10px;
    margin-left: 50px;
}
/*METRICAS CUANTITATIVAS*/
#texto2{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color:#A53F40;
    text-align: left;
}
#porcentaje{
    margin-bottom: 0%;
    margin-top: 20px;
}
#cuadro{
    border: 2px solid #A53F40;
    margin-top: 50px;
    justify-content: center;
}
#h3{
    margin-left: 100px;
    padding-right: 0px;
}
#tp{
    margin-left: 100px;
    padding-right: 0px;
}
#grafico{
    width: 80%;
}
#grafico2{
    width: 40%;
}
#cuadro2{
    border: 2px solid #A53F40;
    margin-top: 50px;
    margin-left: 400px;
    padding: 10px;
    justify-content: center;
    width: 50%;
}
#grafico3{
    width: 50%;
    margin-bottom: 30px;
}
#todo{
    border: 2px solid #A53F40;
    width: 1000px;
    margin-top: 50px;
    margin-left: 250px;
}
#todo2{
    border: 2px solid #A53F40;
    width: 1250px;
    margin-top: 50px;
    margin-left: 150px;
}
#card{
    padding-left: 50px;
}
#pasos{
    justify-content: center;
    margin-left: 50px;
}
#grafico4{
    width: 80%;
    margin-top: 50px;
}
#grafico5{
    width: 50%;
    margin-bottom: 30px;
}
/*PROYECTOS*/
.pasos{
    margin:0%;
    display: inline-block;
}
#antes1{
    width: 6%;
    margin-right: 10px;
}
#despues1{
    width: 10%;
    margin-left: 10px;
}

/*RESPONSIVE*/
@media (max-width: 1024px){
    /*CONOSRCIO*/
    *{
        max-width: 1024px;
    }
    /*IDEACION*/
    #titu{
        margin-bottom: 50px;
    }
    #descargar{
    width: 500px;
    margin-left: 420px; 
    margin-top: 30px;
    }
    #descargar a{
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 20px;
    }
    /*PROTOTIPO*/
    #baja img{
        width: 20%;
        display: inline-block;
    }
    #proto1{
        height: 95%;
    }
    #proto2{
        height: 97%;
    }
    #proto3{
        height: 96%;
    }
    #proto4{
        height: 98%;
    }
    .subtitu{
        margin-top: 80px;
    }
    #prototipo1{
        width: 45%;
        margin-bottom: 30px;
    }
    #prototipo3{
        width: 45%;
        margin-bottom: 30px;
    }
    #prototipo3d{
        width: 35%;
        margin-bottom: 30px;
    }
    /*ATRAPALO*/
    #todo2{
        border: 2px solid #A53F40;
        width: 1024px;
        margin-top: 50px;
        margin-left: 0px;
        text-align: center;
    }

}
/*RESPONSIVE 576PX*/
@media (max-width: 576px){
    *{
        padding: 0%;
        margin: 0%;
        max-width: 576px;
    } 
    #mga{
        width: 25%;
        height: 25%;
        margin: 0%;
        margin-left: 0px;
        padding: 0%;
    }
    /*CONSORCIO*/
    /*MAIN*/
    h1{
        font-family: 'Courgette', cursive;
        font-size: 50px;
        color: #CC6667;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    h2{
        font-family: 'Courgette', cursive;
        font-size: 39px;
        color: #CC6667;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    h3{
        font-family: 'Courgette', cursive;
        font-size: 28px;
        color: #CC6667;
        text-align: center;
        text-decoration: underline;
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
    h4{
        font-family: 'Courgette', cursive;
        font-size: 20px;
        color: #CC6667;
        text-align: left;
        text-decoration: underline;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 250px;
    }
    .texto{
        font-size: 18px;
        color:#A53F40;
        text-align: left;
        max-width: 576px;
    }
    /*INVESTIGACION*/
    #diamante{
        margin-bottom: 50px;
        margin-top: 0px;
    }
    #entrevista1{
        border: 2px solid #A53F40;
        justify-content: center;
        margin-bottom: 50px;
        width: 100%;
        margin-left: 0px;
    }
    #entrevista{
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0px;
        justify-content: center;
    }
    #nuevahipo{
        border: 1px solid #CC6667;
        border-radius: 10px;
        margin-top: 25px;
        margin-bottom: 30px;
        margin-left: 20px;
        background-color: rgba(210, 121, 122, 0.37);
        width: 576px;
    }
    #nueva{
        text-align: left;
        margin-top: 30px;
        font-size: 28px;
        color: #A53F40;
    }
    #textonueva{
        font-family: 'Courgette', cursive;
        font-size: 22px;
        color:#A53F40;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /*ANALISIS*/
    .persona{
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }
    #definicionproblema{
        background-color: rgba(204, 102, 103, 0.67);
        border-radius: 20px;
        margin-top: 80px;
        width: 500px;
    }
    #definicion{
        font-size: 28px;
        text-align: left;
        color: #A53F40;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #textodefinicion{
        font-family: 'Courgette', cursive;
        font-size: 18px;
        color:white;
        text-align: center;
        padding-left: 20px;
    }
    /*IDEACION*/
    #titu{
        margin-bottom: 50px;
    }
    #descargar{
        margin-left: -20px; 
        margin-top: 40px;
        margin-bottom: 20px;
        justify-content: center;
    }
    #descargar a{
        justify-content: center;
        padding: 10px;
        margin-left: -120px;
    }
    /*PROTOTIPO*/
    #baja img{
        width: 20%;
        display: inline-block;
        margin-left: 15px;
    }
    #proto1{
        height: 90%;
    }
    #proto2{
        height: 90%;
    }
    #proto3{
        height: 90%;
    }
    #proto4{
        height: 0px;
        visibility: hidden;
    }
    .subtitu{
        margin-top: 70px;
        width: 200px;
        margin-left: 50px;
    }
    #prototipo1{
        width: 80%;
        margin-bottom: 30px;
        justify-items: center;
        margin-left: 0px;
    }
    #prototipo3{
        width: 80%;
        margin-bottom: 30px;
        justify-items: center;
        margin-left: 0px;
    }
    #prototipo3d{
        width: 60%;
        margin-bottom: 30px;
        justify-items: center;
        margin-left: 0px;
    }
    /*PROTOTIPO FINAL*/
    #app{
        width: 30%;
        display: inline-block;
        padding-top: 20px;
        margin-left: 0px;
    }
    #descargar2{
        margin-top: 50px;
        margin-left: -120px;
    }
    #descargar2 a{
        background-color:#A53F40;
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding: 15px;
        border:2px solid #A53F40;
        border-radius: 30px;
        margin-left: 100px;
    }
    /*CONCLUSION*/
    #conclusion0{
        background-color: rgba(210, 121, 122, 0.37);
        margin-top: 80px;
        max-width: 576px;
    }
    #conclusion{
        max-width: 576px;
    }
    #final{
        margin-left: 0px;
    }
    #atras,h3,img{
        display: inline-block;
        text-align: left;
        margin: 0px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0%;
    }
    #atras a{
        text-decoration: none;
        color: #A53F40;
        margin: 0px;
        font-size: 19px;
    }
    #atras a:hover{
        text-decoration: underline;
    }
    #atras img{
        width: 10%;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    #despues,h3,img{
        display: inline-block;
        text-align: right;
        text-decoration: none;
        margin: 0px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0%;
    }
    #despues a{
        text-decoration: none;
        color: #A53F40;
        margin: 0px;
        font-size: 18px;
    }
    #despues a:hover{
        text-decoration: underline;
    }
    #despues img{
        width: 10%;
        margin-left: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    /*FOOTER*/
    #contacto{
        margin-top: 60px;
        height: 150px;
    }
    #redes{
        max-width: 576px;
    }
    #redes a{
        width: 20%;
        display: inline-block;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 15px;
    }
    /*ATRAPALO*/
    #pc{
        width: 60%;
        margin-top: 0%;
    }
    /*INVESTIGACION*/
    .card{
        border: white;
    }
    #cardbody{
        margin-top: -100px;
    }
    #h4{
        font-family: 'Courgette', cursive;
        font-size: 22px;
        color: #CC6667;
        text-align: left;
        text-decoration: underline;
        margin-top: 30px;
        margin-bottom: 10px;
        width: 400px;
    }
    #conver{
        width: 0%;
        margin-top: 0px;
        margin-left: 0px;
        visibility: hidden;
        height: 20px;
    }
    /*PRODUCTO*/
    #pasos{
        width: 90%;
        margin-bottom: 30px;
        margin-top: 30px;
        margin-left: -20px;
        justify-content: center;
    }
    /*LISTA DE PROBLEMAS*/
    #lista3{
        margin-left: 0px;
        margin-top: 50px;
        width: 100%;
    }
    #num{
        width: 20%;
        margin-top: 0px;
        margin-left: 130px;
        text-align: center;
        justify-content: center;
    }
    /*METRICAS CUANTITATIVAS*/
    #texto2{
        font-size: 22px;
        color:#A53F40;
        text-align: left;
    }
    #porcentaje{
        margin-bottom: 0%;
        margin-top: 20px;
    }
    #cuadro{
        border: 2px solid #A53F40;
        margin-top: 50px;
        justify-content: center;
        width: 350px;
    }
    #h3{
        margin-top: 10px;
        margin-left: 10px;
        text-align: left;
        padding-right: 0px;
        width: 300px;
    }
    #tp{
        margin-left: 25px;
        padding-right: 0px;
    }
    #grafico{
        width: 80%;
    }
    #grafico2{
        width: 65%;
    }
    #cuadro2{
        border: 2px solid #A53F40;
        margin-top: 50px;
        margin-left: 0px;
        padding: 10px;
        justify-content: center;
        width: 350px;
    }
    #grafico3{
        width: 70%;
        margin-bottom: 30px;
    }
    #todo{
        border: 2px solid #A53F40;
        width: 350px;
        margin-top: 50px;
        margin-left: 0px;
    }
    #todo2{
        border: 2px solid #A53F40;
        width: 350px;
        margin-top: 50px;
        margin-left: 0px;
    }
    #card{
        padding-left: 50px;
    }
    #pasos{
        justify-content: center;
        margin-left: 0px;
    }
    #grafico4{
        width: 0%;
        height: 0px;
        margin-top: -80px;
        visibility: hidden;
    }
    #grafico5{
        width: 20%;
        margin-bottom: 30px;
        justify-items: center;
        margin-left:  0px;
    }
    /*PROYECTOS*/
    .pasos{
        margin:0%;
        display: inline-block;
    }
}

