*{
    padding: 0%;
    margin: 0%;
}

/*NAV*/

#mga{
     width: 15%;
     height: 15%;
     margin: 0%;
     padding: 0%;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #A53F40;
}
.navbar-light .navbar-nav .nav-link:hover{
    text-decoration: underline;
    color: #CC6667;
}
.navbar-light .navbar-nav .nav-link{
    color: #A53F40;
}
.nav-item a{
    color: #A53F40;
    margin-right: 10px;
    font-family:'Merienda', cursive;
    font-style: bold;
    font-size: 18px;
    padding: 10px;
    width: 120px;
}
.navbar-light .navbar-toggler {
    color: #A53F40;
    border-color: #A53F40;
}
.navbar-toggle-icon {
    color: #A53F40;
}
/*MAIN*/

h1{
    font-family: 'Courgette', cursive;
    font-size: 48px;
    color: #A53F40;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
h2{
    font-family: 'Courgette', cursive;
    font-size: 36px;
    color: #A53F40;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 100px;
    width: 500px;
}
h3{
    font-family: 'Merienda', cursive;
    font-size: 18px;
    color: #CC6667;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 100px;
    width: 400px;
}
#fotointro{
    max-width: 500px;
    max-height: 300px;
    margin-top: 50px;
    margin-left: 30px;
}
#contactame a{
    background-color: #A53F40 ;
    color: white;
    text-decoration: none;
    font-family: 'Merienda', cursive;
    padding: 10px;
    border-radius: 20px;
    margin-left: 150px;
}
/*CONSORCIO*/
#consorcio{
    background: rgba(210, 121, 122, 0.37);
    margin-top: 60px;
}
#consorcio img{
    width: 30%;
    display: inline-block;
    padding-top: 20px;
}

.titulo{
    color: #A53F40;
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 50px;
    width: 500px;
}
.subtitulo{
    color:#A53F40 ;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    width: 500px;
}
#verproyecto{
    justify-content: center;
    align-content: center;
    margin-left: 50px;
}
#verproyecto a{
    border: 3px solid #A53F40;
    color: #A53F40;
    text-decoration: none;
    font-family: 'Merienda', cursive;
    padding: 10px;
    border-radius: 20px;
    margin-left: 240px;
    text-align: center;
}
#verproyecto a:hover{
    background-color: #A53F40 ;
    color: white;
}
/*ATRAPALO*/
#atrapalo{
    background: rgba(210, 121, 122, 0.37);
    margin-top: 60px;
}
#atrapalo img{
    width: 70%;
    padding-top: 20px;
}
.titulo2{
    color: #A53F40;
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 150px;
    padding-right: 80px;
    width: 500px;
}
/*BOOKING VS EXPEDIA*/
#booking{
    background: rgba(210, 121, 122, 0.37);
    margin-top: 60px;
}
#booking img{
    width: 80%;
    padding-top: 20px;
}
/*RICO APP*/
#rico{
    background: rgba(210, 121, 122, 0.37);
    margin-top: 60px;
}
#rico img{
    width: 30%;
    display: inline-block;
    padding-top: 20px;
}
/*BONUS TRACK*/
#bonus{
    background-color: rgba(204, 102, 103, 0.67);
    margin-top: 60px;
    height: 250px;
}
.titulo3{
    color: #A53F40;
    font-size: 48px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 50px;
}
.subtitulo3{
    color:white;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
}
#vertrabajos a{
    border: 3px solid #A53F40 ;
    color: white;
    text-decoration: none;
    font-family: 'Merienda', cursive;
    padding: 10px;
    border-radius: 20px;
    margin-left: 240px;
}
#vertrabajos a:hover{
    background-color: #A53F40 ;
    color: white;
}
#trabajos{
    margin-top: 100px;
}
/*FOOTER*/
#contacto{
    margin-top: 60px;
    height: 150px;
}
#redes a{
    width: 9%;
    display: inline-block;
    padding-top: 20px;
    padding-left: 60px;
}

/*ACERCA DE */
#hola{
    color: #CC6667;
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 50px;
}
.texto1{
    margin: 50px;
    font-family: 'Courgette', cursive;
    font-size: 18px;
    color: #A53F40;
}
#textos{
    margin-left: 0px;
}
#masinfo p{
    margin: 50px;
    font-family: 'Courgette', cursive;
    font-size: 18px;
    color: #A53F40;
}
#descargar a{
    background-color: #CC6667;
    color: white;
    text-decoration: none;
    font-family: 'Merienda', cursive;
    padding: 10px;
    border-radius: 20px;
    margin-left: 240px;
    text-align: center;
}
#contacto .row{
    margin: 0%;

}
#pajaros{
    margin: 0%;
    padding: 0%;
}
#pajaros img{
    width: 65%;
    padding: 0%;
    display: block;
    margin-top: 200px;
}

/*INDEX RESPONSIVE*/
@media (max-width: 1024px){
    *{
        max-width: 1024px;
    }
    h1{
        max-width: 500px;
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0px;
    }
    h2{
        font-size: 30px;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 15px;
        width: 300px;
        padding: 0px;
    }
    h3{
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: 0px;
        width: 350px;
        padding: 0px;
    }
    #fotointro{
        max-width: 300px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: 30px;
        align-content: center;
        padding: 0px;
    }
    #contactame{
        padding: 5px;
        justify-content: center;
        margin-top: 50px;
        margin-left: 50px;
        width: 200px;
    }
    #contactame a{
        margin-left: 50px;
    }
    /*CONSORCIO*/
    #consorcio{
        background: rgba(210, 121, 122, 0.37);
        margin-top: 60px;
        max-width: 1024px;
    }
    #consorcio img{
        width: 30%;
        display: inline-block;
        padding-top: 10px;
        margin-left: 5px;
        align-content: center;
        justify-content: center;
    }
    .titulo{
        font-size: 40px;
        text-align: center;
        max-width: 250px;
        padding: 0px;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: -10px;
    }
    .subtitulo{
        font-size: 16px;
        text-align: center;
        max-width: 250px;
        margin-top: 40px;
        margin-left: -20px;
        margin-right: 0px;
    }
    #verproyecto{
        max-width: 280px;
        margin-top: -40px;
        margin-left: 0px;
        text-align: center;
    }
    #verproyecto a{
        margin-left: 100px;
        justify-content: center;
    }
    /*ATRAPALO*/
    #atrapalo{
        background: rgba(210, 121, 122, 0.37);
        margin-top: 60px;
        max-width: 1024px;
    }
    #atrapalo img{
        width: 70%;
        padding-top: 20px;
    }
    .titulo2{
        max-width: 30px;
        font-size: 40px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 0px;
        padding-right: 0px;
    }
    /*ATRAPALO*/
    #atrapalo{
        background: rgba(210, 121, 122, 0.37);
        margin-top: 60px;
        max-width: 1024px;
    }
    #atrapalo img{
        width: 70%;
        padding-top: 20px;
    }
    /*BOOKING VS EXPEDIA*/
    #booking{
        background: rgba(210, 121, 122, 0.37);
        margin-top: 60px;
        max-width: 1024px;
    }
    #booking img{
        width: 80%;
        padding-top: 20px;
    }
    /*RICO APP*/
    #rico{
        background: rgba(210, 121, 122, 0.37);
        margin-top: 60px;
        max-width: 576px;
    }
    #rico img{
        width: 30%;
        display: inline-block;
        padding-top: 20px;
    }
    /*BONUS TRACK*/
    #bonus{
        background-color: rgba(204, 102, 103, 0.67);
        margin-top: 60px;
        height: 250px;
        max-width: 1024px;
    }
    .titulo3{
        color: #A53F40;
        font-size: 48px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
        padding-left: 30px;
    }
    .subtitulo3{
        color:white;
        font-size: 18px;
        text-align: center;
        margin-top: 40px;
        margin-left: 0px;
    }
    #vertrabajos{
        margin-left: 0px;
        margin-top: -230px;
        justify-content: center;
        width: 300px;
    }
    #vertrabajos a{
        border: 3px solid #A53F40 ;
        color: white;
        text-decoration: none;
        font-family: 'Merienda', cursive;
        padding: 10px;
        border-radius: 20px;
        margin-left: 50px;
    }
    #vertrabajos a:hover{
        background-color: #A53F40 ;
        color: white;
    }
    #trabajos{
        margin-top: 100px;
    }
    /*FOOTER*/
    #contacto{
        margin-top: 60px;
        height: 150px;
    }
    #redes{
        max-width: 1024px;
    }
    #redes a{
        width: 15%;
        display: inline-block;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 15px;
    }

    /*ACERCA DE */
    #hola{
        color: #CC6667;
        font-size: 48px;
        margin-top: 50px;
        margin-bottom: 20px;
        padding-left: 50px;
    }
    .texto1{
        margin: 50px;
        font-family: 'Courgette', cursive;
        font-size: 18px;
        color: #A53F40;
    }
    #textos{
        margin-left: 0px;
    }
    #masinfo p{
        margin: 50px;
        font-family: 'Courgette', cursive;
        font-size: 18px;
        color: #A53F40;
    }
    #descargar a{
        background-color: #CC6667;
        color: white;
        text-decoration: none;
        font-family: 'Merienda', cursive;
        padding: 10px;
        border-radius: 20px;
        margin-left: 240px;
        text-align: center;
    }
    #contacto .row{
        margin: 0%;

    }
    #pajaros{
        margin: 0%;
        padding: 0%;
    }
    #pajaros img{
        width: 65%;
        padding: 0%;
        display: block;
        margin-top: 200px;
    }
}

/*INDEX RESPONSIVE*/
@media (max-width: 576px){
    *{
        padding: 0%;
        margin: 0%;
        max-width: 576px;
    } 
    #mga{
        width: 25%;
        height: 25%;
        margin: 0%;
        margin-left: 0px;
        padding: 0%;
    }
    .container-fluid{
        display: inline-block;
    }
    h1{
        max-width: 500px;
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0px;
    }
    h2{
        font-size: 30px;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 15px;
        width: 300px;
        padding: 0px;
    }
    h3{
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: 0px;
        width: 350px;
        padding: 0px;
    }
    #fotointro{
        max-width: 300px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: 30px;
        align-content: center;
        padding: 0px;
    }
    #contactame{
        padding: 5px;
        justify-content: center;
        margin-top: 50px;
        margin-left: 50px;
        width: 200px;
    }
    #contactame a{
        margin-left: 50px;
    }
    /*CONSORCIO*/
    #consorcio{
        background: rgba(210, 121, 122, 0.37);
        margin-top: 60px;
        max-width: 576px;
    }
    #consorcio img{
        width: 30%;
        display: inline-block;
        padding-top: 10px;
        margin-left: 5px;
        align-content: center;
        justify-content: center;
    }
    .titulo{
        font-size: 48px;
        text-align: center;
        max-width: 350px;
        padding: 0px;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    .subtitulo{
        font-size: 18px;
        text-align: center;
        max-width: 350px;
        margin-top: 40px;
        margin-left: -10px;
        margin-right: 0px;
    }
    #verproyecto{
        max-width: 280px;
        margin-top: -40px;
        margin-left: 0px;
        text-align: center;
    }
    #verproyecto a{
        margin-left: 100px;
        justify-content: center;
    }
    /*ATRAPALO*/
    #atrapalo{
        background: rgba(210, 121, 122, 0.37);
        margin-top: 60px;
        max-width: 576px;
    }
    #atrapalo img{
        width: 70%;
        padding-top: 20px;
    }
    .titulo2{
        max-width: 350px;
        font-size: 48px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 0px;
        padding-right: 0px;
    }
    /*ATRAPALO*/
    #atrapalo{
        background: rgba(210, 121, 122, 0.37);
        margin-top: 60px;
        max-width: 576px;
    }
    #atrapalo img{
        width: 70%;
        padding-top: 20px;
    }
    /*BOOKING VS EXPEDIA*/
    #booking{
        background: rgba(210, 121, 122, 0.37);
        margin-top: 60px;
        max-width: 576px;
    }
    #booking img{
        width: 80%;
        padding-top: 20px;
    }
    /*RICO APP*/
    #rico{
        background: rgba(210, 121, 122, 0.37);
        margin-top: 60px;
        max-width: 576px;
    }
    #rico img{
        width: 30%;
        display: inline-block;
        padding-top: 20px;
    }
    /*BONUS TRACK*/
    #bonus{
        background-color: rgba(204, 102, 103, 0.67);
        margin-top: 60px;
        height: 250px;
        max-width: 576px;
    }
    .titulo3{
        color: #A53F40;
        font-size: 48px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
        padding-left: 30px;
    }
    .subtitulo3{
        color:white;
        font-size: 18px;
        text-align: center;
        margin-top: 40px;
        margin-left: 0px;
    }
    #vertrabajos{
        margin-left: 0px;
        margin-top: -230px;
        justify-content: center;
        width: 300px;
    }
    #vertrabajos a{
        border: 3px solid #A53F40 ;
        color: white;
        text-decoration: none;
        font-family: 'Merienda', cursive;
        padding: 10px;
        border-radius: 20px;
        margin-left: 50px;
    }
    #vertrabajos a:hover{
        background-color: #A53F40 ;
        color: white;
    }
    #trabajos{
        margin-top: -20px;
    }
    /*FOOTER*/
    #contacto{
        margin-top: 60px;
        height: 150px;
    }
    #redes{
        max-width: 576px;
    }
    #redes a{
        width: 20%;
        display: inline-block;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 15px;
    }

    /*ACERCA DE */
    #hola{
        color: #CC6667;
        font-size: 48px;
        margin-top: 50px;
        margin-bottom: 20px;
        padding-left: 50px;
    }
    .texto1{
        margin: 50px;
        font-family: 'Courgette', cursive;
        font-size: 18px;
        color: #A53F40;
    }
    #textos{
        margin-left: 0px;
    }
    #masinfo p{
        margin: 50px;
        font-family: 'Courgette', cursive;
        font-size: 18px;
        color: #A53F40;
    }
    #descargar a{
        background-color: #CC6667;
        color: white;
        text-decoration: none;
        font-family: 'Merienda', cursive;
        padding: 10px;
        border-radius: 20px;
        margin-left: 240px;
        text-align: center;
    }
    #contacto .row{
        margin: 0%;

    }
    #pajaros{
        margin: 0%;
        padding: 0%;
    }
    #pajaros img{
        width: 65%;
        padding: 0%;
        display: block;
        margin-top: 200px;
    }

}